{% extends 'sch/main.html' %}
{% load static %}
{% block content %}
    	<nav class="navbar navbar-light" >
  <form class="form-inline">
  	<div style="margin-right: 30px;">
  	<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'category' %}">Day School</a>
    <a class="dropdown-item" href="#">Play School</a>
    <!-- <a class="dropdown-item" href="#">Something else here</a> -->
  </div>
</div>
</div>
<div>
    <input class="form-control mr-sm-2" style="width: 300px;"  type="search" placeholder="Search your preferred location" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</div>
  </form>
</nav>
  
<br>
<br>
<hr style="color: black;">
<h1 style="text-align: center;color: black;"> Browse By Category </h1>
<br>

<center>  
       
          
        <div class="container"> 
            <a  href="{% url 'category' %}" >
               <div class="box" id="st-box" class="card" style="width: 25rem;">
  <img src="{% static 'images/bg.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body" style="background-color: white;">
    <p class="card-text" style="color:black;font-weight: bold; font-size: 25px;"> Day School</p>
  </div>
</div></a>
            <a href="#" >
               <div class="box" id="rd-box"class="card" style="width: 25rem;">
  <img src="{% static 'images/bg.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body" style="background-color: white;">
    <p class="card-text"style="color:black;font-weight: bold; font-size: 25px;">Play School</p>
  </div>
</div>
            </a>
           
           
        </div> 
        </center> 

{% endblock %}

